body {
  padding-top: 50px;
}

#main {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#toolbar {
    z-index:1;
    position: absolute;
    right: 100px;
    top: 100px;
}

.link {
    fill: black;
    stroke: black;
}

.cursor {
    fill: none;
    stroke: black;
}

.activator {
    fill: none;
    stroke: red;
}

.blank-cursor {
    fill: none;
    stroke: none;
}

.node {
    fill: white;
    stroke: black;
}

.node.active {
    fill: black;
    stroke: black;
}

